.footer {
  background-color: #21212F;
  color: #CFD3D6;
  font-size: 16px;
  line-height: 24px;

  & h3 {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  & a:hover {
    text-decoration: underline;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 50px;
    
    @media screen and (max-width: 800px) {
      display: block;
      padding-top: 50px;
      max-width: 312px;
      margin: 0 auto;
    }
  }
  &__contact {
    position: relative;
    top: -34px;
    max-width: 312px;
  }
  &__contact-title {
    margin-top: -10px;
    margin-bottom: 15px;
  }
  &__contact-item {
    & + & {
      margin-top: 15px;
    }
  }
  &__contact-messengers {
    display: flex;
    justify-content: space-around;
  }
  &__contact-messenger {
    line-height: 0;
    margin-top: 10px;
    
    & a:hover {
      text-decoration: none;
    }
  }
  &__contact-messenger-link {
    padding: 14px;
    background-color: #F1F2F8;
    border-radius: 50%;
    
    &:hover {
      background-color: #dedede;

      & i::before {
        color: #1605d2;
      }
    }
  }
  &__explore {
    @media screen and (max-width: 1080px) {
      display: none;
    }
  }
  &__category {
    @media screen and (max-width: 1080px) {
      display: none;
    }
  }
  &__explore-title {
    margin-bottom: 30px;
  }
  &__explore-item {
    & + & {
      margin-top: 15px;
    }
  }
  &__category-title {
    margin-bottom: 30px;
  }
  &__category-item {
    & + & {
      margin-top: 15px;
    }
  }
  &__subscribe {
    max-width: 312px;
    
    @media screen and (max-width: 800px) {
      padding-top: 40px;
    }
  }
  &__subscribe-title {
    margin-bottom: 30px;
  }
  &__subscribe-text {
    margin-bottom: 21px;
  }
  &__subscribe-input {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    margin-bottom: 34px;
  }
  &__subscribe-btn {
    @extend %signup-button;
  }
}
