.instructors {
  &__title {
    @extend %section-title;
  }
  &__text {
    @extend %section-text;
  }
  &__swiper-inner {
    position: relative;
  }
  &__swiper {
    @extend %swiper-size;
  }
  &__item {
    border-radius: 24px;
    box-shadow: -3px 5px 10px 2px  rgba(0, 0, 0, .1);
    padding: 16px;
    max-width: 312px;
    margin-bottom: 60px;
    text-align: center;
  }
  &__item-img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 16px;
  }
  &__item-title {
    color: #1B1D1F;
    margin-bottom: 6px;
  }
  &__item-text {
    font-size: 16px;
    line-height: 24px;
  }
}
