.popular-category {
  background-color: #F1F2F8;

  &__title {
    @extend %section-title;
  }
  &__text {
    @extend %section-text;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    padding-bottom: 100px;

    @media screen and (max-width: 1450px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 1115px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 790px) {
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: 600px) {
      padding-bottom: 50px;
    }
  }
  &__item {
    border-radius: 22px;
    padding: 14px 22px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #fff;
    transition: all .2s;

    &:hover {
      border: 2px solid $secondary-color;
      
      .popular-category__item-link {
        color: #fff;
        background-color: $secondary-color ;
        & i:before {
          color: #fff;
        }
      }
    }
  }
  &__item-preview {
    display: flex;
    align-items: center;
    line-height: 0;
  }
  &__item-title {
    font-weight: 500;
    margin-left: 16px;
    text-transform: capitalize;
  }
  &__item-link {
    border-radius: 50%;
    padding: 10px;
    line-height: 0;
    transition: all .2s ease-in-out;
  }
}
