.button-up {
  position: fixed;
  background-color: #ffa237b7;
  right: 20px;
  bottom: 30px;
  padding: 15px;
  border-radius: 50%;
  line-height: 0;
  cursor: pointer;
  transition: all .3s;
  z-index: 2;

  &:hover {
    background-color: #ffa237;
  }
  &.button-up_hide {
    display: none;
  }
}

