html,
body {
	height: 100%;
	font-family: 'Public Sans', normal;
	font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;

	@media screen and (max-width: 600px) {
		padding: 0 15px;
	}
}
